


body{
	margin:0;
	padding: 0;
	background: #F5F5F6;
	font-family: 'Della Respira';
}
#nav-arrows{
	width:100%;
  display:flex;
  justify-content:space-between;	
}

.content-wrapper{
	width: 80%;
	position: absolute;
	left:20%;
	transition:width 300ms, left 300ms;
}
.content-wrapper-expanded{
	position: absolute;
	left: 0;
	width:100%;
	transition:width 300ms, left 300ms;
}

.form {
	width: 80%;
  margin: 10px auto;
  padding: 10px;
  		
}

.form-row {
  display:flex;
  justify-content:space-between;
  margin-top:15px;
}

.submit-btn {
	margin-bottom:20px;
}

.btn-group{
	width: 100%;
	margin-top:20px;
	display:flex;
	justify-content:flex-end;
	
	.form-btn {
		margin-right:10px; 
	}
}

.card-list {
	list-style:none;
}

.payment-input {
	color: green;
}